#footer_col {
	width: 100%;
}
#footer_main{
	text-align: center;
	vertical-align:middle;
	font-size: xx-small;
	height: 20px;	
}
#footer_menu {
	text-align: center;
	vertical-align:middle;
	font-size: 8px;
}
#footer {
	padding-top: 5rem;
    padding-bottom: 1rem;
}