<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="./css/result/landing-page.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css//result.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">

</head>

<body>
  <input type="hidden" id="menu_content" value="result">
  <div id="header"></div>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
    
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/result/win_cup/1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text center-block">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td class="plate name">LaP</td>
                <td class="plate score">10</td>
                <td class="plate score">:</td>
                <td class="plate score">3</td>
                <td class="plate name">NiKel</td>
              </tr>
              <tr>
                <td class="plate team"><strong>BRAZIL</strong></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate team"><strong>GERMANY</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="match">2019년 8월 1일 소림사컵 준결승 경기</p>
          <a href="#">#이 경기의 레포트 보기 <span class="badge"> 155개의 응원메시지가 있습니다.</span></a>
        </div>
      </div>
    
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/result/draw/1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text center-block">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td class="plate name">GoM</td>
                <td class="plate score">2</td>
                <td class="plate score">:</td>
                <td class="plate score">3</td>
                <td class="plate name">Tzar</td>
              </tr>
              <tr>
                <td class="plate team"><strong>BRAZIL</strong></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate team"><strong>GERMANY</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="match">2019년 8월 1일 소림사컵 16강 경기</p>
          <a href="#">#이 경기의 레포트 보기  <span class="badge"> 77개의 응원메시지가 있습니다.</span></a>
        </div>
      </div>
  
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/result/win_rival/1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text center-block">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td class="plate name">LaP</td>
                <td class="plate score">10</td>
                <td class="plate score">:</td>
                <td class="plate score">3</td>
                <td class="plate name">NiKel</td>
              </tr>
              <tr>
                <td class="plate team"><strong>BRAZIL</strong></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate team"><strong>GERMANY</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="match">2019년 8월 1일 소림사컵 결승 경기</p>
          <a href="#">#이 경기의 레포트 보기  <span class="badge"> 101개의 응원메시지가 있습니다.</span></a>
        </div>
      </div>
      
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/result/win_weak/1.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td class="plate name">aKbaRi</td>
                <td class="plate score">4</td>
                <td class="plate score">:</td>
                <td class="plate score">2</td>
                <td class="plate name">Lottoo</td>
              </tr>
              <tr>
                <td class="plate team"><strong>BRAZIL</strong></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate team"><strong>GERMANY</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="match">2019년 8월 1일 소림사컵 4강 경기</p>
          <a href="#">#이 경기의 레포트 보기  <span class="badge"> 210개의 응원메시지가 있습니다.</span></a>
        </div>
      </div>
      
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/result/win_strong/1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text center-block">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td class="plate name">XiviX</td>
                <td class="plate score">4</td>
                <td class="plate score">:</td>
                <td class="plate score">2</td>
                <td class="plate name">Lap</td>
              </tr>
              <tr>
                <td class="plate team"><strong>BRAZIL</strong></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate team"><strong>GERMANY</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="match">2019년 8월 1일 소림사컵 8강 경기</p>
          <a href="#">#이 경기의 레포트 보기  <span class="badge"> 187개의 응원메시지가 있습니다.</span></a>
        </div>
      </div>
    </div>
  </section>
  <div id="footer"></div>
  
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--add custom js -->
  <script src="/js/app/common.js"></script>

</body>

</html>
