.thumbnail {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: 0!important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 0px;
}
.img-rounded {
	border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}


#data_header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: x-large;
    text-align: center;
}

