hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.h2, h2 {
    text-align: center;
}
.plate {
	text-align: center;
}
.name {
	width: 42%;
    word-break: break-all;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.name {
	width: 42%;
    word-break: break-all;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.score {
	width: 5%;
	font-size: 2rem;
}
.container-fluid {
    padding-top: 1rem;
}
.showcase-text>a:link {
	color: #337ab7;
    text-decoration: none;
}
.showcase-text>p>a:link{
	color: #337ab7;
    text-decoration: none;
    font-weight: bold;
}
.showcase-text>a:visited {
	color: #337ab7;
    text-decoration: none;
}
.showcase-text>p>a:visited {
	color: #337ab7;
    text-decoration: none;
    font-weight: bold;
}
.match {
	margin: 20px 0 10px;
}
