<!DOCTYPE HTML>
<html>
<head>
  <title>main page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- add bootstrap css -->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  
  <!--add custom js -->
  <script src="/js/app/style.css"></script>
  <script src="/js/app/main.css"></script>
</head>
<body>
  <div id="header"></div>
  <div id="main_content">
    <h1>main content</h1>
  </div>
  <div id="footer"></div>

  <!-- add js, jquery lib -->
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>

  <!--add custom js -->
  <script src="/js/app/main.js"></script>
</body>
</html>