<!DOCTYPE HTML>
<html>
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- add css -->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/css//common.css">
  
</head>
<body>
  <div id="header"></div>
  <div id="content">
    <div id="data_table" class="col-md-12">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>No</th>
                    <th>News Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="tbody">
            {{#each news_list}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{news_title}}</td>
                    <td>{{date}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
  </div>
  <div id="footer"></div>

  <!-- add js, jquery lib -->
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>

  <!--add custom js -->
  <script src="/js/app/news.js"></script>
</body>
</html>